<html>
    <h1>
        <center>
            MY home Page_ gang_ gang _ gang 
        </center>
    </h1>
    <p>
        hostname: {{ansible_hostname}}
        IP: {{ansible_default_ipv4.address}}
    </p>
</html>
